{% extends 'base.html' %}
{% block content %}


<div class="container text-center" style="font-family: 'Prompt', sans-serif;">
  <div class="quote">
    <p>The camera makes you forget you're there. It's not like you are hiding but you forget, you are just looking so much. ~ Annie Leibovitz</p>
    <hr>
  </div>

  <!-- Looping through photos   -->
  {% for photos_item in photos %}


      <img data-toggle="modal" data-target="#{{photos_item.img_name}}" class="text-center"src="{{photos_item.img.url}}" alt="{{photos_item.img_name}}" style="width:100%;max-width:500px;padding-top:10px;">

      <!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="{{photos_item.img_name}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{photos_item.img_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <img src="{{photos_item.img.url}}" alt="{{photos_item.name}}"  style="width:100%;max-width:500px">
        <div style="padding-top:5px;">
        <input type="text" value="{{photos_item.img.url}}" id="myInput">


        <button class="btn btn-info" onclick="myFunction()" onmouseout="outFunc()">
          <span class="tooltiptext" id="myTooltip"></span>
          Copy Link
        </button>


            <script>
            function myFunction() {
              var copyText = document.getElementById("myInput");
              copyText.select();
              copyText.setSelectionRange(0, 99999);
              document.execCommand("copy");

              var tooltip = document.getElementById("myTooltip");
              tooltip.innerHTML = "Copied: " + copyText.value;
            }

            function outFunc() {
              var tooltip = document.getElementById("myTooltip");
              tooltip.innerHTML = "Copy to clipboard";
            }
            </script>
            </div>
      </div>
      <div class="modal-footer">
        <p>{{photos_item.img_description}}</p>
      </div>
    </div>
  </div>
</div>


  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Photos Currently</h2>
  </div>
  {% endfor %}
</div>


{% endblock %}
