.quote {
  text-align: center;
  padding: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.bruv{
  padding: 15px 15px 15px 15px;
}
.navbar-toggler-icon{
  background-color:#00A6ED;
}
